body {
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Helvetica;
    display: inline-block;
}
h1 {
    font-size: 34px; 
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
}

#infos p{
    
    line-height: 41.8px;
    box-sizing: border-box;
    margin : 1em 0px; /* Pas tout a fait = 24px mais avec la line-height qui dépasse au dessus et en dessous, cela s'en rapproche */
    
}
#image {
    position:relative;
    width: 100%;
     /* 374 / 1254 pour obtenir des %*/
     /* height: 29.8%; */
    background-color: lightgreen;
}
#image img {
    width: 100%;
    
}
#infos{
    position: relative;
    top: 9.09%; /* 114/1254 pour obtenir des % */
    width: 25.2%;
    margin-left: 14.2%;


}

#form {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top : 23.6%; /* 296 / 1254*/ 
    right: 14.2%; /* 205 / 1440 */
    width: 40.5%;  /*584 / 1440 */ 
    height: 70%;    /*875 / 1254 */
    background-color: white;
    border-radius: 8px;
    padding : 0px 3.3%  /* 584/488/2 */;
    box-shadow: 0px 4px 28px 0px #1C85A621 ;
}

#form input[type="text"] {
    
    border: none;
    border-bottom: 1.5px solid #D0D0D0;
}

.txt input {
    width: 100%;
}
.grouped{
    display: flex;
    flex-direction: row;
}

.grouped div {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.grouped input{
    width: 90%;
}



#form h1 {
    margin-top : 4.5%; /*40 / 875 (hauteur de la div) */
}
#groupedButton{
    position: relative;
    display: inline-block;
    background-color: #EFEFEF;
    border-radius: 20px;
    height: 41px;
}

.labelRadio{
    position : relative;
    margin: 0;
    padding: 0;
    
    
    
}
input[type="radio"]{
    margin: 0;
    position: relative; /*Positionement de l'input dans le Label*/
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 41px;
    border-radius: 20px;
    background-color:inherit;
    -webkit-appearance: none; 
    -moz-appearance: none;
}
input[type="radio"]:checked { 
    background-color:#9DD129;
    
}
input[type="radio"]:checked ~ .innerRadio{
    color: white;
    
}
input[type="radio"]:checked ~ .innerRadio svg path {
    fill: white;
}
input[type="radio"]:focus { 
outline: none;
}

.innerRadio {
    margin: 0;
    width: 150px;
    height: 41px;
    position: absolute; /* Meme dimensions que pour le radio, le but est de superposé le radio et le span dans le label */
    top: -26px; 
    left: 0px;
}

#tete  {
    position: absolute;
    top:10px;
    left : 25.07px
}
#yeux  {
    position: absolute;
    top: 12.55px;
    left: 29.08px;
}
#patte {
    position: absolute;
    left: 24px;
    top: 10px;
}
.innerRadio span{
    position: absolute;
    top: 14px;
    left: 56px;
}

